#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;

  box-sizing: border-box;
}
html {
  background-color: aqua;
}
h2 {
  color: green;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  padding-right: 25%;
  margin: 0 auto;
  padding-top: 5%;
}
h3 {
  color: blue;
  font-style: italic;
  padding-right: 25%;
  margin: 0 auto;
  margin-top: 5px;
}
body {
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

/* Add your own custom styles here */

.books-list {
  display: grid;
  grid-template-columns: repeat(6, 25%);
  grid-column-gap: 2px;
  justify-content: space-around;

  width: 70em;
  padding-left: 4rem;
  padding-top: 1rem;
}

button {
  background-color: lightgray;
  color: black;
  font-size: 1em;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 2px;
}
button:hover {
  border-color: #646cff;
}

.cover {
  display: grid;
}

.details-button {
  margin-right: 27%;
}

.single-book {
  display: block;
  text-align: center;
}

.book-title {
  color: green;
  font-weight: bold;
  text-decoration: underline;
  font-size: larger;
}

.author {
  color: blue;
  font-style: italic;
}

p {
  text-align: left;
}

.login-message {
  font-weight: bold;
  font-size: large;
  color: red;
  text-align: center;
}

.message {
  font-weight: bold;
  font-size: large;
  color: red;
  text-align: center;
}

.account-title {
  color: green;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  padding-right: 3%;
  margin: 0 auto;
  padding-top: 5%;
}

.account-books-list {
  display: grid;
  grid-template-columns: repeat(5, 25%);
  grid-column-gap: 2px;
  justify-content: space-around;

  width: 70em;
  padding-left: 6rem;
  padding-top: 2rem;
}

.search-bar {
  margin-top: 20px;
  width: 100%;
  justify-content: center;
}
